include ../section/section.pug
include ../poster/poster-footer.pug
div(data-scroll data-scroll-offset="-170" data-scroll-id="structures-trigger" data-scroll-sticky data-scroll-target="#structures-target" class="structures-trigger")
  .section
    div(class="time-blocks flex")
      div(class="bg-color5 relative flex items-center justify-center md:mx-2.5 structures-block")
        .absolute.bottom-5.left-5
          include ../icons/number-1.pug
      
      div(class="bg-color5 relative flex items-center justify-center md:mx-2.5 structures-block")
        .absolute.bottom-5.left-5
          include ../icons/number-2.pug

      div(class="bg-color4 relative flex items-center justify-center md:mx-2.5 structures-block")
        .absolute.bottom-5.left-5
          include ../icons/number-3.pug
    
    div(class="bg-color3 structures__main relative p-5 flex items-center section-text justify-end")
      div(class="structures__numbers absolute top-2 left-4 xs:-top-5 xs:left-1 font-bold leading-none")
        .structures__numbers-box 
          .structures__number 1
          .structures__number 2
          .structures__number 3
      video(
        src=require("/images/1_page/1-4_video_Small.mp4")
        autoplay
        loop
        muted
        class="mix-blend-multiply structures__video"
      )
      .structures__text
        .structures__text-block.structures__text-block--1.show
          span.gentle-underline 15-day
          br
          span.gentle-underline diligence
          br
          span.gentle-underline process
          br
          span.gentle-underline focused on
          br
          span.gentle-underline what matters
        .structures__text-block.structures__text-block--2 
          span.gentle-underline Straight
          br
          span.gentle-underline forward deal
          br
          span.gentle-underline structures
        .structures__text-block.structures__text-block--3 
          span.gentle-underline Owners can
          br
          span.gentle-underline stay or go
      +posterFooter('SIMPLE DEALS FOR GREAT COMPANIES & OWNERS', '1.4')
div(class="section block lg:hidden")
  .poster
    div(class="poster__number absolute top-2 left-4 xs:-top-5 xs:left-1 font-bold leading-none") 1
    video(
      src=require("/images/1_page/1-4_video_Small.mp4")
      autoplay
      muted
      loop
      class="structures-mobile-video")
    div(class="poster__title tracking-tighter text-center font-bold leading-none relative z-1 mb-16 md:mb-0")
      span.gentle-underline 15-day diligence process focused on what matters
    +posterFooter('SIMPLE DEALS FOR GREAT COMPANIES & OWNERS', 'Intro')
  .poster.mt-5
    div(class="poster__number absolute top-2 left-4 xs:-top-5 xs:left-1 font-bold leading-none") 2
    video(
      src=require("/images/1_page/1-4_video_Small.mp4")
      autoplay
      muted
      loop
      class="structures-mobile-video")
    div(class="poster__title tracking-tighter text-center font-bold leading-none relative z-1 mb-16 md:mb-0")
      span.gentle-underline Straight forward deal structures
    +posterFooter('SIMPLE DEALS FOR GREAT COMPANIES & OWNERS', 'Intro')
  .poster.mt-5
    div(class="poster__number absolute top-2 left-4 xs:-top-5 xs:left-1 font-bold leading-none") 3
    video(
      src=require("/images/1_page/1-4_video_Small.mp4")
      autoplay
      muted
      loop
      class="structures-mobile-video")
    div(class="poster__title tracking-tighter text-center font-bold leading-none relative z-1 mb-16 md:mb-0")
      span.gentle-underline Owners can stay or go
    +posterFooter('SIMPLE DEALS FOR GREAT COMPANIES & OWNERS', 'Intro')
