include ../section/section.pug
mixin masks()
  .mate__avatar-mask.mate__avatar-mask--noise
  .mate__avatar-mask.mate__avatar-mask--1
  .mate__avatar-mask.mate__avatar-mask--2
.team.section 
  +sectionTitle('Our Team', '2.4')
  ul.team__mates
    li.mate
      .mate__box
        .mate__avatar
          +masks()
          img(src=require("/images/2_page/mate-1.png") data-scroll data-scroll-id="img-about-2.4-1")
        .mate__name Cody Sorensen
        .mate__status 
          span.mate__status-icon
            include ../icons/happy.pug
          span Partner
    li.mate
      .mate__box
        .mate__avatar 
          +masks()
          img(src=require("/images/2_page/mate-2.png") data-scroll data-scroll-id="img-about-2.4-2")
        .mate__name Trevor Szutu
        .mate__status 
          span.mate__status-icon
            include ../icons/happy.pug
          span Partner
    li.mate
      .mate__box
        .mate__avatar 
          +masks()
          img(src=require("/images/2_page/mate-3.png") data-scroll data-scroll-id="img-about-2.4-3")
        .mate__name Ross Gilchrest
        .mate__status 
          span.mate__status-icon
            include ../icons/happy.pug
          span Partner
    li.mate
      .mate__box
        .mate__avatar 
          +masks()
          img(src=require("/images/2_page/mate-4.png") data-scroll data-scroll-id="img-about-2.4-4")
        .mate__name Mike Blattman
        .mate__status 
          span.mate__status-icon
            include ../icons/happy.pug
          span Partner
    li.mate
      .mate__box
        .mate__avatar 
          +masks()
          img(src=require("/images/2_page/mate-5.png") data-scroll data-scroll-id="img-about-2.4-5")
        .mate__name Paul Tellier
        .mate__status 
          span.mate__status-icon
            include ../icons/happy.pug
          span Advisor
    li.mate
      .mate__box
        .mate__avatar 
          +masks()
          img(src=require("/images/2_page/mate-6.png") data-scroll data-scroll-id="img-about-2.4-6")
        .mate__name Hugo Sorensen
        .mate__status 
          span.mate__status-icon
            include ../icons/happy.pug
          span Advisor